<style>
        body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        .container {
            position: relative;
            width: 500px;
            height: 56px;
            overflow: hidden;
        }

        .train {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            animation: trainMove 10s linear infinite;
        }

        .train img {
            width: 150px;
            height: 56px;
            object-fit: contain;
            margin-right: 20px;
        }

        @keyframes trainMove {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        .hidden {
            display: none;
        }

        .highlight {
            color: green;
        }

        .highlight2 {
            color: red;
        }

        /* CSS untuk perangkat mobile dengan lebar layar kurang dari atau sama dengan 600px */
        @media (max-width: 600px) {
            table {
                width: 100%;
                background-color: #fff;
                border-collapse: collapse;
            }

            th, td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #333333;
            }

            th {
                font-size: 18px;
                background-color: #353b48;
                color: #ffffff;
            }

            td {
                font-size: 16px;
            }
        }

        a {
            color: green;
            text-decoration: none;
        }
    </style>
